# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Python build
build/
dist/
*.egg-info/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Output experiment (optional)
data/output/

# Large datasets (optional)
data/dataset/